{% extends 'app/user/main.html' %}

{% load static %}


{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{% url 'user-profile' %}" class="list-group-item list-group-item-action">Profile</a>
            <a href="{% url 'change-password' %}" class="list-group-item list-group-item-action">Change Password</a>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    <div class="col-md-9">
        <div class="card">
            <form method="POST">
                {% csrf_token %}
            
                <div class="card-body text-start">
                    <div class="mb-3 mt-3">
                        <label for="old_password" class="form-label">Old Password</label>
                        {{ form.old_password }}
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="password" class="form-label">New Password</label>
                        {{ form.new_password1 }}
                      </div>

                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm Password</label>
                        {{ form.new_password2 }}
                    </div>

                    <button type="submit" class="btn btn-primary mt-3 justify-content-end">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}