{% extends 'app/user/main.html' %}

{% load static %}


{% block content %}

    <form class="mb-3">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search members..." name="search" style="border-radius: 10px; height: 40px;" type="search">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <div class="card mt-4">

        {% for user in users %}
        {% if user.role == "user" %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">
                    {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" alt="Profile Image" class="rounded-circle mr-3" id="member-image" style="width: 50px; height: 50px;">
                    {% else %}
                        <img src="{% static 'images/profileAvatar.jpg' %}" alt="Profile Image" class="rounded-circle mr-3" id="member-image" style="width: 50px; height: 50px;">
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div>
                        <h5 class="mb-0">{{ user.username }}</h5>
                        <p style="color: grey;">{{ user.email }}</p>
                    </div>
                    <p class="mb-2" style="font-size: 18px;">{{ user.profile.bio }}</p>
                    <p style="font-size: 17px;"><i class="fa-regular fa-calendar"></i><span style="margin-left: 10px; font-size: 15px;">{{ user.date_joined }}</span></p>
                </div>
                <div class="col-md-2 text-right">
                    <!-- Add your chat link here -->
                    <a href="{% url 'chat' username=user.username %}" class="btn btn-secondary" style="background-color: rgb(230, 229, 229); display: flex; align-items: center; color: black; text-decoration: none; border: none; border-radius: 10px; height: 40px;">
                        <i class="fa-regular fa-message" style="margin-left: 5px;"></i> <span style="margin-left: 10px;">Chat</span>
                    </a>
                </div>
            </div>
        </div>
        
        
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}