{% extends 'app/user/main.html' %}

{% load static %}


{% block content %}

    <div class="card" data-bs-toggle="modal" data-bs-target="#post" style="border-radius:20px;">
        <div class="card-body d-flex align-items-center" style="height: 67px;">
            {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="Profile Image" class="rounded-circle mr-3" id="user_image_post">
            {% else %}
                <img src="{% static 'images/profileAvatar.jpg' %}" alt="Profile Image" class="rounded-circle mr-3" id="user_image_post">
            {% endif %}
            <div class="card-title" style="margin-top: 20px; margin-left: 10px">
                <p>Write Something...</p>
            </div>
        </div>
    </div>


    <!-- Modal for posting -->
    <!-- Your modal with custom styles -->
    <div class="modal fade" id="post" style="transition: all 0.3s;">
        <div class="modal-dialog modal-lg"> <!-- Increase width by using modal-lg -->
            <div class="modal-content">
                <div class="modal-header">
                 
                {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="Profile Image" class="rounded-circle mr-3" id="user_image_post">
                {% else %}
                <img src="{% static 'images/profileAvatar.jpg' %}" alt="Profile Image" class="rounded-circle mr-3" id="user_image_post">
                {% endif %}
                    <h5 class="modal-title mb-0">{{ request.user }} <span class="text-muted">posting</span> on this app</h5>
                </div>
                <form method="POST">
                    {% csrf_token %}

                    <div class="modal-body">
                        {{ form.body }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for post in posts %}
    <div class="card mt-3">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div class="ml-4 d-flex">
                <!-- Circular profile photo -->
                {% if post.user.profile.image %}
                <img src="{{ post.user.profile.image.url }}" alt="Profile Image" class="rounded-circle mr-3" id="user_image_post">
                {% else %}
                <img src="{% static 'images/profileAvatar.jpg' %}" alt="Profile Image" class="rounded-circle mr-3" id="user_image_post">
                {% endif %}

                <div style="margin-left: 10px;">
                    <!-- User name -->
                    <h5 class="mb-0">{{ post.user.username }}</h5>
                    <!-- Date posted -->
                    <small class="text-muted">{{ post.created }}</small>
                </div>
            </div>

            <div class="ml-auto">
                {% if post.user.id == request.user.id %}
                <a href="{% url 'delete-post' post.id %}" class="btn btn-danger">Delete</a>
                {% else %}
                {% endif %}
            </div>
        </div>

        <div class="card-body">
            <!-- Post content -->
            <p style="font-size: 18px;">{{ post.body }}</p>

            <div id="likes_comments" class="d-flex">
                <a class="btn-like" id="{{ post.id }}">
                    {% if logged_user in post.liked_by.all %}
                        <img src="{% static 'images/redlike.png' %}" id="redlike-image" style="width: 25px;">
                    {% else %}
                        <img src="{% static 'images/whitelike.png' %}" id="whitelike-image">
                    {% endif %}
                    <span>{{ post.liked_by.count }}</span>
                </a>

                <a href="{% url 'post-comment' post.id %}" class="btn-comment" href="" id="comments_link"><i class="fa-regular fa-comment" id="comments_icon"></i><span>{{ post.comments.count }}</span></a>
            </div>
        </div>
    </div>
    {% endfor %}


    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        $(document).on('click', '.btn-like', function() {
            var post_id = this.id;
            $.ajax({
                method: "POST",
                url: "{% url 'post-like' %}",
                data: {post_id:post_id, csrfmiddlewaretoken:window.CSRF_TOKEN},
                success: function(data) {
                    console.log("Success", data);
                    location.reload();
                },
                error: function(errror) {
                    console.log("Error", error);
                }
            });
        });
    </script>

{% endblock %}