{% extends 'app/user/main.html' %}

{% load static %}


{% block content %}

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Change Password</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-5">Profile</h2>
                    <div>
                        <img src="{% static 'images/profileAvatar.jpg' %}" alt="Profile Image" class="rounded-circle mr-3" id="profile-image">
                        <a href="#" id="change-image">Change Image</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}